@import "tailwindcss";

@layer components {
  .nav__link {
    @apply relative text-base font-medium w-fit block text-white after:block after:content-[''] after:absolute after:left-0 after:bottom-0 after:h-0.5 after:bg-yellow-400 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-300 after:origin-right;
  }
}
